[Unit]
Description=HW06 Cows and Bulls

[Service]
Type=simple
User=hw6
Group=hw6
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=5001
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw6/cowsandbulls
ExecStart=/bin/bash /home/hw6/cowsandbulls/start.sh

[Install]
WantedBy=multi-user.target
