.cowsAndBulls {
	font-family: "Verdana", "Helvetica", "sans-serif";
}

.winner {
	position: absolute;
	top: 0;
	right:0;
	width:350px;
}

.players {
	width:400px;
}


table {
	width: 900px;
	height: 60px;
}

th {
	font-size: 30px;
	height: 50px;
	width: 200px;
	vertical-align: bottom;
}

td {
	text-align: center;
	font-size: 40px;
}

.button {
	background-color: darkslategrey;
	color: white;
	font-size: 25px;
	border-radius: 8px;
	border: none;
	padding: 14px 30px;
	display: inline-block;
}

.button:disabled, button[disabled] {
	background-color: grey;
	color: white;
	font-size: 25px;
	border-radius: 8px;
	border: none;
	padding: 14px 30px;
	display: inline-block;
}

input[type=text] {
	font-size: 25px;
	padding: 10px 5px;
	border: 4px solid darkslategrey;
	border-radius: 6px;
}

h1 {
	font-size: 50px;
}

.horizontal_space {
	width: 7px;
	display: inline-block;
}

.warning {
	font-style: italic;
}
